<ul >
  {{#events}}
    <li>
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
        <input type="button" value="Like">
    </li>

*SOME CHANGES OVER HERE TO SEE IN GIT*
  {{/events}}
</ul>